
PoTO/Saved/Logs/PoTO.log
PoTO/Saved/Logs/PoTO-backup-2022.02.28-14.11.52.log
PoTO/Saved/Logs/PoTO-backup-2022.02.28-12.43.35.log
PoTO/Saved/Config/CrashReportClient/UE4CC-Windows-9256C5AB4CA1AD336AAE57961B587722/CrashReportClient.ini
PoTO/Saved/Config/CrashReportClient/UE4CC-Windows-097F39C5477A76C4159753B2DD604C0D/CrashReportClient.ini
PoTO/Intermediate/CachedAssetRegistry.bin
PoTO/Intermediate/AssetRegistryCache/55c7e039.bin
PoTO/Saved/Logs/PoTO.log
PoTO/Saved/Logs/PoTO-backup-2022.03.06-13.57.35.log
PoTO/Saved/Logs/PoTO-backup-2022.03.05-13.42.20.log
PoTO/Saved/Config/Windows/EditorPerProjectUserSettings.ini
PoTO/Saved/Config/CrashReportClient/UE4CC-Windows-D523B5174508FBA64F0B8E9C80AF0AF5/CrashReportClient.ini
PoTO/Saved/AutoScreenshot.png
PoTO/Intermediate/CachedAssetRegistry.bin
